<nav class="fixed-top bg-white">
        <!-- <div class="display-block display-m-none display-s-none col-l-2 logo">
            <img src="https://i.ibb.co/S0v8MqS/rp-logo.png" class="img" alt="logo">
        </div> -->
        <div class="display-none display-m-block display-s-block">
            <!-- <div class="container dropdown"> -->
                <img src="https://i.ibb.co/H23WMGf/threelines.png" alt="threelines" class="img threelines">
                <!-- <app-sidebar></app-sidebar> -->
                <!-- <div class="dropbtn hover dropdown-content" style="transform: translate(100px,50px);">
                    <a routerLink="/dashboard">Dashboard</a>
                    <a routerLink="/catalogue">Catalogue</a>
                </div>
            </div> -->
        </div>
        <div class="display-flex profile"  style="float: right;">
            <a class="img">
                <img [src]=imgsrc alt="Profile" style="width:50px;">
            </a>
            <div class="container dropdown" data-toggle="tab">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropbtn hover dropdown-content font-weight-light">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
</nav>

