<nav class="fixed-top bg-white">
    <div class="gridRow">
        <div class="d-block d-m-none d-s-none col-l-2 logo">
            <img src="https://i.ibb.co/S0v8MqS/rp-logo.png" class="img" alt="logo">
        </div>
        <div class="d-none d-m-block d-s-block">
            <div class="container dropdown">
                <img src="https://i.ibb.co/H23WMGf/threelines.png" alt="threelines" class="img threelines">
                <div class="dropbtn hover dropdown-content" style="transform: translate(100px,50px);">
                    <a routerLink="/dashboard">Dashboard</a>
                    <a routerLink="/catalogue">Catalogue</a>
                </div>
            </div>
            <!-- <img src="https://i.ibb.co/H23WMGf/threelines.png" alt="threelines" class="img threelines"> -->
        </div>
        <div class="d-flex profile"  style="float: right;">
            <a class="img">
                <img src="https://i.ibb.co/QN6Cz6C/1.jpg" alt="Profile" style="width:50px;">
            </a>
            <div class="container dropdown" data-toggle="tab">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropbtn hover dropdown-content font-weight-light">
                    <a (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>

