<div class="loginScreen">
    <div class="logo">
        <img src="https://i.ibb.co/S0v8MqS/rp-logo.png">
    </div>
    <div class="display-flex flex-column pb-5">
        <div class="intro">
            WELCOME TO REDPANDA UI HTML- CSS BASIC FED TEMPLATE
        </div>
        <div class="desc">
            The Red Pandas is a team of pragmatic engineers who care deeply about tje quality of there product and success of their partners. Over the years we have mastered best practices in building software products from concept to scale and we continue to learn
            emarging technologies
        </div>
        <form class="flex-box jumbotron" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <h2>Please Log In</h2>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" style=" width: 100%;" formControlName="username" placeholder="Username or Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" style=" width: 100%;" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <input type=checkbox [checked]="selected" (change)="rememberMe($event)" />
                <label>Remember Me</label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" (click)="onSubmit()">Sign In</button>
            </div>
        </form>
    </div>
</div>