.yourCard{
    align-items: center
}
.mat-icon {
    transform: scale(4)
}
.icon{
    transform: translateY(30px)
}
.badge{
    transform: translate(250px, 10px)
}
.card-info{
    padding-top: 60px
}
