<div class="gridrow sidebar">
    <!-- <div class="display-none display-m-block display-s-block" style="float: left;">
        <img src="https://i.ibb.co/H23WMGf/threelines.png" alt="threelines" class="img threelines">
    </div> -->
    <div class="display-m-none display-s-none col-l-2 100vh">
        <div class="col-l-2 logo">
            <img src="https://i.ibb.co/S0v8MqS/rp-logo.png" class="img logo" alt="logo">
        </div>
        <div class="p-2">
            <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
            <a class="dropdown-item" routerLink="/catalogue">Catalogue</a>
        </div>
    </div>
</div>
